$primary-color : rgb(87, 209, 215);

.text{
    background-color: blue;
}

.about-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30px;
    background-color: black;
    color:white;

    span{
        color:$primary-color;
    }

    .about-text{
        
        margin-top:100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        line-height:30px;
        gap:20px;
        

        .profil-img{
            width: 100px;
            height: 100px;
            margin: 10px 0;
            padding: 2px;
            border:4px solid $primary-color;
            border-radius: 100%;
        }

        p{
            width: 30vw;
        }

        .about-info{
            display: flex;
            flex-direction: column;
            
            

            .info-item{
                display: flex;
                flex-direction: row;
                margin: 10px;
                // background-color: white;
                border: 1px solid white;
               


                h1{
                    background-color: $primary-color;
                    color: white;
                    padding: 10px;

                }

                h2{
                    color: white;
                    font-size: larger; 
                    flex-grow: 2;
                    text-align: end;
                    padding: 10px;
                    
                }


            }
        }
    }
}