.card-container{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px;
    margin: 150px 20px;
    text-align: center;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 18%, rgba(33,97,98,1) 100%);
    border: 3px solid rgb(27, 27, 26);
    box-shadow: 1px 1px 1p 1px black;
    transition: 1s ease;
    

    .card-container:hover{
        box-shadow: 14px -14px 13px 4px rgba(61,255,217,0.7);
-webkit-box-shadow: 14px -14px 13px 4px rgba(61,255,217,0.7);
-moz-box-shadow: 14px -14px 13px 4px rgba(61,255,217,0.7);

    }

    h1{
        margin:10px
    }

    p{
        margin: 10px;
    }

    img{
        height: 150px;
    }
}