.freetime-container{
    position: relative;
    text-align: center;
    height: 500px;

    .freetime-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        



        .freetime-list-item{
            position: relative;
            width: 34vw;
            height: 30vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            color: white;
            font-size: 20px;
            list-style: none;
            align-items: center;

            .freetime-text{
                
                width: 50%;
                font-size: 50px;
                font-weight: 900;
                background-color: rgba(255, 255, 255, 0.74);
                color:black;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                mix-blend-mode: screen;
                transition: 1s ease;
                
            }

            .freetime-text:hover{
                
            }
        }
        
        .freetime-list-item:nth-child(1){
          
            background-image: url('./img/family.jpg');
            
        }

        .freetime-list-item:nth-child(2){
           
            background-image: url('./img/sport.jpg');
            
        }

        .freetime-list-item:nth-child(3){
      
            background-image: url('./img/movie.png');
       
        }

        .freetime-list-item:nth-child(4){
            
            background-image: url('./img/food.jpg');
          
        }
    }
}