$primary-color : rgb(87, 209, 215);


.freetime-container{
    position: relative;
    text-align: center;
   

    h1{
        margin-bottom: 20px;
        font-size: 50px;
        border-bottom: 3px solid $primary-color;
    }

    .freetime-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        

        .freetime-list-item{
            
            position: relative;
            width: 34vw;
            height: 30vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            color: white;
            font-size: 20px;
            list-style: none;
            align-items: center;
            transition: 1s ease;
           

            .freetime-text{
                
                width: 40%;
                font-size: 5vw;
                font-weight: 900;
                background-color: rgba(255, 255, 255, 0.74);
                color:black;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                mix-blend-mode: screen;
                transition: 1s ease;
                
            }

            .new{
                display: none;
                transition: 1s ease;
            }

            
            .newClass{
                display: inline-block;
                width: 100%;
                background-color: rgb(11, 11, 11);
                color:aquamarine;
                transition: all 1s ease;
            }
            
        }

        .freetime-list-item:hover{
            transform: scale(1.05);
            overflow: hidden;
        }
        
        .freetime-list-item:nth-child(1){
          
            background-image: url('./img/family.jpg');
            
        }

        .freetime-list-item:nth-child(2){
           
            background-image: url('./img/sport.jpg');
            
        }

        .freetime-list-item:nth-child(3){
      
            background-image: url('./img/movie.png');
       
        }

        .freetime-list-item:nth-child(4){
            
            background-image: url('./img/food.jpg');
          
        }
    }
}

