$primary-color : rgb(87, 209, 215);


.nav-container{
    

    .nav-links{
        color: white;
        background-color: black;
        font-family: 'Anton';

        .nav-list{
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin-right: 100px;
            list-style: none;
            

            .nav-link{
                padding: 2px;
                font-size: 25px;
                margin:0 10px;
                cursor: pointer;
                transition: 1s ease;
            }

            a{
                color:white;
                text-decoration: none;
            }
        }
    }
}

.nav-link:hover{
    letter-spacing: 2px;
    border-bottom: 1px solid $primary-color ;
}