.portfolio-container{
    width: 100vw;
    height: 100vh;
    
   
    .portfolio-name{
        text-align: center;
    }
    
    .portfolio-projects{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
        

        .portfolio-description{
            width: 40vw;
            height: 30vh;
            background-color: blue;
            color: white;
        }

        .portfolio-link{
            width: 50vw;
             height: 30vh;
            background-color: gray;
        }
    }



}