.portfolio-container{
    width: 100vw;
    height: 100vh;
    
   
    .portfolio-name{
        text-align: center;
    }
    
    .portfolio-projects{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
        

        .portfolio-description{
            width: 40vw;
            height: 40vh;
            background-color: blue;
            color: white;
        }

        .portfolio-link{
            width: 50vw;
             height: 40vh;
            // background-color: gray;

            

            .portfolio-item1{
                width: 40vw;
                height: 40vh;
                background-image: url('./img/vip.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
               
            }

            img{
                width: 40vw;
                height: 40vh;
                background-image: url('./img/vip.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }



}