$primary-color : rgb(87, 209, 215);


.project-container{


    position: relative;
    display: flex;
    flex-direction: row;
    


    .project-github{
        width: 50vw;
        height: 80vh;
        background-image: url('./img/code.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .project-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 80vh;
        background: black;
        color: white;
        

        p{
            text-align:calc(50%);
            width: 40px;
            height: 40px;
            border: 3px solid rgb(20, 99, 195);
            border-radius: 30px;
            background-color: $primary-color;
            
        }

        ul{
            list-style:none;
        }
    }
}