$primary-color : rgb(87, 209, 215);


.project-container{


    position: relative;
    display: flex;
    flex-direction: row;


    .project-github{
        width: 50vw;
        height: 80vh;
        background-image: url('./img/code.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .project-item{
        

        p{
            text-align: center;
            width: 40px;
            height: 40px;
            border: 1px solid $primary-color;
            border-radius: 30px;
            background-color: orangered;
            
        }
    }
}