$primary-color : rgb(87, 209, 215);


.project-container{


    position: relative;
    display: flex;
    flex-direction: row;
    


    .project-github{
        width: 50vw;
        height: 80vh;
        background-image: url('./img/code.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .project-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 80vh;
        background: black;
        color: white;
        

        .project-skill-person{
            display: flex;
            align-items: center;
            margin: 0 10px;

            h1{
                margin-right: 10px;
            }

            h3{
                margin: 0 5px;
            }
        }
    }
}