.project-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .project-skill-person{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3{
            color:white;
            transition: 1s ease;
        }

    }


}

.showSkill{
    color:black;
}