.project-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

    .project-skill-person{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 1s ease;

    }

    .showSkill{
    opacity: 1;
    color:black;
}

}

