

.app-container{
    // background-color: rgb(0, 0, 0);
    overflow: hidden;
    
    i{
        position: fixed;
        right: 20px;
        bottom: 50px;
        z-index: 1;
        color:rgb(87, 209, 215);
        cursor: pointer;
    }
    
    
}

.cards-container{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;


    .card-container:hover{
        box-shadow: 14px -14px 13px 4px rgba(61,255,217,0.7);
-webkit-box-shadow: 14px -14px 13px 4px rgba(61,255,217,0.7);
-moz-box-shadow: 14px -14px 13px 4px rgba(61,255,217,0.7);


    }
}


@media screen and (max-width : 450px) {
    
    .app-container{
        width: 100%;
        overflow: visible;
    }

   

    .header-container .header-img {
        
        left: 10vw;
        bottom: 0px;
        filter: grayscale(1);
    }

    .nav-container .nav-links .nav-list {
        margin: auto;
        justify-content: center;
    }

    .header-container .header-info{
        top:15vw;
        text-align: center;

        h2{
            font-size: 20px;
        }
    }
        

    .nav-link a{
        font-size: 14px;
    }

    .profil-img{
        width: 100%;
        
    }

    .header-container .header-info .header-info-text {
        font-size: 30px;
        font-family: "Anton", cursive;
        letter-spacing: 4px;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        background-color: black;
        align-items: center;
        padding: 20px;
        
    }

    .card-container{
        margin: 0;
    }

    .about-container{
        flex-direction: column;
        opacity: 1;

        h1{
            text-align: center;
        }

        .about-text{
            flex-direction: column;
            align-items: center;
            margin: 0;
            gap: 0;

            p{
                
                    margin: 10px 10px;
                    padding:20px;
                    width: 100%;
            }
        }
 

    }
    


    .App .project-container {
        position: relative;
        display: flex;
        flex-direction: column;


        .project-github{
            width: 100vw;
            height: 20vh;
        }

        .project-item{
            width: 100vw;
            height: auto;

            h3{
                font-size:15px;
            }

            .project-skill-person{
                flex-direction: column;
            }

            .project-githubwork a{
                animation: animate2 3s infinite;

            }

        }
    }

    @keyframes animate2 {
        0%{
            color:white;
        }

        100%{
            color:rgb(6, 185, 255);
        }
        
    }


    .App .portfolio-container{

        .portfolio-name{
            margin-bottom: 10px;
        }

        .portfolio-projects{

            .portfolio-description{
                flex-direction: column;
                align-items: center;

                img{
                    width: 90vw;
                }

                .portfolio-text{
                    width: auto;


                    a{
                        width: 20vw;
                    }
                }


            }
        }
    }


   



    
    
}

